<div class="container">
  <div class="row text-center mt-4">
    <h2>Detail Contact</h2>
    <div class="col d-flex justify-content-center">
      <div class="card mt-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= contact.nama %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= contact.email %></h6>
            <p class="card-text"><%= contact.nohp %></p>
            <a href="/contact/edit/<%= contact.nama %>" class="btn btn-info badge rounded-pill">Ubah</a>
            <!-- <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge rounded-pill" onclick="return confirm('yakin?')">Hapus</a> -->
            <form action="/contact?_method=DELETE" method="POST" class="d-inline">
              <input type="hidden" name="nama" value="<%= contact.nama %>">
              <button type="submit" class="btn btn-danger badge rounded-pill" onclick="return confirm('Yakin?')">Hapus</button>
            </form>
            <a href="/contact" class="d-block mt-3">&laquo; Kembali</a>
          </div>
      </div>
    </div>
  </div>
</div>
